/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.theme-light {
    --text-bg-pink-fontcolor: black;
    --text-bg-green-fontcolor: black;
    --text-bg-purple-fontcolor: black;
}

.theme-dark {
    --text-bg-pink-fontcolor: black;
    --text-bg-green-fontcolor: black;
    --text-bg-purple-fontcolor: black;
}



.text-bg-pink {
    background-color: #ffa7c1;
    color: var(--text-bg-pink-fontcolor) !important;
}

.text-bg-green {
    background-color: #52FFA2;
    color: var(--text-bg-green-fontcolor) !important;
}

.text-bg-purple {
    background-color: #CDA7FF;
    color: var(--text-bg-purple-fontcolor) !important;
}



.SettingTab_folder_search {
    width: calc(100% - 20px);
}




.folder-separator-before {
    margin: 0.5em 0;
    border: none;
    border-top: 1px solid gray;
    width: 100%;
}
.folder-separator-after {
    margin: 0.5em 0;
    border: none;
    border-top: 1px solid gray;
    width: 100%;
}


:root {
    --nav-files-container-bg_img: url("https://pub-d5f0132a22cc48c99c2d7e093f1028a6.r2.dev/Chest_atlas10.gif");
    --nav-files-container-bg_img-size: 150px;

    --note-bg_img: url("https://pub-d5f0132a22cc48c99c2d7e093f1028a6.r2.dev/Chest_atlas5.gif");
    --note-bg_img-size: 150px;
}


/* 在左侧文件夹页面添加动图 */
.nav-files-container {
    background-image: var(--nav-files-container-bg_img) !important;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: var(--nav-files-container-bg_img-size) auto;
}

/* .mod-root 在右侧文件md页面添加动图 */
.mod-root .markdown-reading-view {
    background-image: var(--note-bg_img) !important;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: var(--note-bg_img-size) auto;
}
.mod-root .markdown-source-view {
    background-image: var(--note-bg_img) !important;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: var(--note-bg_img-size) auto;
}